Repository yshalsager/telegram-feedback-bot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, eslint, prettier

lint:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

fmt:
  run: uv run ruff format {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files} && git add {staged_files}

fix(webhook): add error handling for setting and removing Telegram bot webhooks
  feedback_bot/telegram/feedback_bot/bot.py
Due: lint, fmt

feat(user): link to username and id
  frontend/routes/user/[telegram_id]/+page.svelte
Due: eslint, prettier

feat(avatar): implement dynamic avatar generation with color palette based on user type
  frontend/components/management/ListItem.svelte
Due: eslint, prettier

refactor(users): enhance admin check and error handling in user management endpoints
  feedback_bot/api/miniapp/users.py
Due: lint, fmt

feat: implement user banning and unbanning functionality with reasons
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/migrations/0003_banneduser_reason.py
  feedback_bot/models.py
  feedback_bot/telegram/feedback_bot/modules/ban.py
  frontend/lib/api.js
  frontend/lib/types.ts
  frontend/routes/bot/[uuid]/+page.svelte
  frontend/routes/bot/[uuid]/banned/+page.svelte
  frontend/routes/bot/[uuid]/banned/+page.ts
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  tests/feedback_bot/api/miniapp/test_bots.py
  tests/feedback_bot/api/miniapp/test_users.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_ban.py
Due: lint, fmt, eslint, prettier

feat: add a command to migrate legacy data into Django models
  feedback_bot/management/__init__.py
  feedback_bot/management/commands/__init__.py
  feedback_bot/management/commands/migrate_legacy_data.py
  feedback_bot/migrations/0004_alter_messagemapping_owner_message_id.py
  feedback_bot/models.py
Due: lint, fmt

chore: update Dockerfile and docker-compose
  Dockerfile
  docker-compose.override.traefik.yml
  docker-compose.yml
Due: none

refactor(webhook): remove hardcoded webhook secret and implement dynamic secret generation for builder bot
  config/settings.py
  feedback_bot/api/webhooks.py
  feedback_bot/telegram/init.py
  mise.toml
Due: lint, fmt

feat(bot): add stats command
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/modules/stats.py
  messages/ar/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/django.po
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_stats.py
Due: lint, fmt

refactor(bot): improve admin list parsing and encapsulate application creation logic
  config/settings.py
  feedback_bot/telegram/builder/bot.py
  feedback_bot/telegram/init.py
  tests/feedback_bot/telegram/builder/modules/test_bot_loader.py
Due: lint, fmt

fix(tests): update test URL for integration process and clean up feedback chat and bot stats in fixtures
  tests/feedback_bot/telegram/builder/modules/test_start.py
  tests/feedback_bot/telegram/feedback_bot/conftest.py
Due: lint, fmt

feat(bot): implement bot token rotation and admin approval for enabling bots
  feedback_bot/api/miniapp/bots.py
  frontend/routes/bot/[uuid]/+page.svelte
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/frontend.po
  tests/feedback_bot/api/miniapp/test_bots.py
Due: lint, fmt, eslint, prettier

feat(svelte): add Vite preprocessing to Svelte configuration
  svelte.config.js
Due: eslint, prettier

docs(README): overhaul documentation to reflect new features and architecture, including builder bot commands, mini app dashboard, and technology stack
  README.md
Due: none

chore(license): replace MIT License with GNU General Public License v3
  LICENSE
  pyproject.toml
Due: none

chore(translations): update
  messages/ar/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/django.po
Due: none

fix(tests): add inline dependencies for vitest
  vite.config.js
Due: eslint, prettier

docs(README): add migration instructions for transitioning from legacy Pyrogram version
  README.md
Due: none

test: add comprehensive tests for UserAccessForm and refactor i18n mocks in user and bot routes
  src/tests/components/management/UserAccessForm.svelte.test.ts
  src/tests/routes/add_bot/page.svelte.test.ts
  src/tests/routes/add_user/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/banned/page.svelte.test.ts
  src/tests/routes/user/[telegram_id]/page.svelte.test.ts
  src/tests/utils/i18n-mock.ts
Due: eslint, prettier

chore(alembic): remove alembic.ini configuration file as it is no longer needed
  alembic.ini
Due: none

refactor(bots): remove optional confirmation from bot configuration and related functionalities
  README.md
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/management/commands/migrate_legacy_data.py
  feedback_bot/migrations/0005_remove_bot_confirmations_on.py
  feedback_bot/models.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  src/lib/api.js
  src/lib/mappers/bot.ts
  src/lib/types.ts
  src/routes/add_bot/+page.svelte
  src/routes/bot/[uuid]/+page.svelte
  src/tests/routes/bot/[uuid]/banned/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  tests/feedback_bot/api/miniapp/test_bots.py
  tests/feedback_bot/api/miniapp/test_users.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/conftest.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt, eslint, prettier

feat(delete): implement delete command for feedback bot to remove messages and associated mappings
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/modules/delete.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_delete.py
Due: lint, fmt

feat(delete): add bulk delete functionality and clear command for feedback bot
  README.md
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/modules/delete.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_delete.py
Due: lint, fmt

chore(translations): update Arabic and English translations
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
Due: none

docs: add Privacy Policy
  PRIVACY_POLICY.md
  README.md
Due: none

feat(bot): add media message permissions
  README.md
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/migrations/0006_bot_media_flags.py
  feedback_bot/models.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  src/lib/mappers/bot.ts
  src/lib/types.ts
  src/routes/bot/[uuid]/+page.svelte
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt, eslint, prettier

feat(bot): implement anti-flood protection with configurable message limits and warnings
  PRIVACY_POLICY.md
  README.md
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/management/commands/migrate_legacy_data.py
  feedback_bot/migrations/0007_bot_antiflood_enabled_feedbackchat_last_feedback_at.py
  feedback_bot/models.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  src/lib/mappers/bot.ts
  src/lib/types.ts
  src/routes/bot/[uuid]/+page.svelte
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/factories.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt, eslint, prettier

feat(broadcast): enhance broadcast functionality with filter support for targeting users
  feedback_bot/crud.py
  feedback_bot/telegram/builder/modules/broadcast.py
  feedback_bot/telegram/feedback_bot/modules/broadcast.py
  feedback_bot/telegram/utils/broadcast.py
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/builder/modules/test_broadcast.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_broadcast.py
  tests/feedback_bot/telegram/test_broadcast_utils.py
Due: lint, fmt

chore(version): update project version to 3.0.0
  pyproject.toml
  uv.lock
Due: none

docs(README): update
  README.md
Due: none

chore(dependencies): update
  Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: none

Clean up renovate.json5
  renovate.json5
Due: none

fix(broadcast): add docstring to broadcast function
  feedback_bot/telegram/builder/modules/broadcast.py
Due: lint, fmt

feat(bot): add communication mode feature with options for standard, private, and anonymous interactions
  PRIVACY_POLICY.md
  README.md
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/migrations/0008_bot_communication_mode.py
  feedback_bot/models.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  src/lib/api.js
  src/lib/mappers/bot.ts
  src/lib/types.ts
  src/routes/add_bot/+page.svelte
  src/routes/bot/[uuid]/+page.svelte
  src/tests/routes/add_bot/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  tests/feedback_bot/telegram/feedback_bot/conftest.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt, eslint, prettier

refactor: enable TypeScript support for shadcn components
  components.json
  src/components/management/ManagementCard.svelte
  src/components/management/SettingsPage.svelte
  src/components/management/UserAccessForm.svelte
  src/lib/components/ui/avatar/avatar-fallback.svelte
  src/lib/components/ui/avatar/avatar-image.svelte
  src/lib/components/ui/avatar/avatar.svelte
  src/lib/components/ui/avatar/index.ts
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.js
  src/lib/components/ui/button/index.ts
  src/lib/components/ui/card/card-action.svelte
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/card/index.ts
  src/lib/components/ui/input/index.ts
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/popover/index.ts
  src/lib/components/ui/popover/popover-content.svelte
  src/lib/components/ui/popover/popover-trigger.svelte
  src/lib/components/ui/separator/index.ts
  src/lib/components/ui/separator/separator.svelte
  src/lib/components/ui/switch/index.ts
  src/lib/components/ui/switch/switch.svelte
  src/lib/components/ui/textarea/index.ts
  src/lib/components/ui/textarea/textarea.svelte
  src/lib/utils.ts
  src/routes/+page.svelte
  src/routes/bot/[uuid]/banned/+page.svelte
  src/routes/settings/+page.svelte
  src/routes/user/[telegram_id]/+page.svelte
  src/tests/routes/add_user/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/banned/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  src/tests/routes/user/[telegram_id]/page.svelte.test.ts
  tsconfig.json
Due: eslint, prettier

refactor(routes): restructure app routes
  config/settings.py
  feedback_bot/urls.py
  feedback_bot/views.py
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/frontend.po
  mise.toml
  src/components/management/AddButton.svelte
  src/lib/api.js
  src/lib/telegram.js
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/app/+layout.svelte
  src/routes/app/+page.svelte
  src/routes/app/add_bot/+page.svelte
  src/routes/app/add_user/+page.svelte
  src/routes/app/bot/[uuid]/+page.svelte
  src/routes/app/bot/[uuid]/+page.ts
  src/routes/app/bot/[uuid]/banned/+page.svelte
  src/routes/app/bot/[uuid]/banned/+page.ts
  src/routes/app/settings/+page.svelte
  src/routes/app/user/[telegram_id]/+page.svelte
  src/routes/app/user/[telegram_id]/+page.ts
  src/tests/routes/+page.svelte.test.ts
  src/tests/routes/add_bot/page.svelte.test.ts
  src/tests/routes/add_user/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/banned/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  src/tests/routes/settings/page.svelte.test.ts
  src/tests/routes/user/[telegram_id]/page.svelte.test.ts
  svelte.config.js
Due: lint, fmt, eslint, prettier

feat(components): add BotMessageField and CommunicationModeSection for improved bot configuration
  src/components/management/BotMessageField.svelte
  src/components/management/CommunicationModeSection.svelte
  src/lib/constants/communication_mode.ts
  src/lib/utils.ts
  src/routes/app/add_bot/+page.svelte
  src/routes/app/add_user/+page.svelte
  src/routes/app/bot/[uuid]/+page.svelte
  src/routes/app/user/[telegram_id]/+page.svelte
Due: eslint, prettier

chore(README): minor
  README.md
Due: none

Path conditions:
  lint: any of: *.py
  fmt: any of: *.py
  eslint: any of: *.{js,ts,svelte}
  prettier: any of: *.{js,ts,svelte,html,css}
