Repository yshalsager/telegram-feedback-bot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, eslint, prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    check-large-files:
      run: echo {staged_files} | xargs -r ls -l | awk '{if ($5 > 500000) print $9}'
    check-symlinks:
      run: echo {staged_files} | xargs -r ls -l | awk '{if ($11 == "->") print $9}'
    
    lint:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true

    fmt:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    eslint:
      glob: "*.{js,ts,svelte}"
      run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

    prettier:
      glob: '*.{js,ts,svelte,html,css}'
      run: 'pnpm exec prettier --write {staged_files} && git add {staged_files}'

post-merge:
  parallel: true
  commands:
    install-client-deps:
      files: git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD
      glob: pnpm-lock.yaml
      run: pnpm install
    install-server-deps:
      files: git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD
      glob: uv.lock
      run: uv sync --inexact

refactor(manage.py, webhooks.py): clean up imports and improve logging setup
  feedback_bot/api/webhooks.py
  manage.py
Due: lint, fmt

feat(telegram): add settings and back button functionality to SDK initialization
  frontend/app.css
  frontend/lib/telegram.js
Due: eslint, prettier

feat(frontend): add favicon
  frontend/app.html
  frontend/routes/+layout.svelte
  static/favicon.ico
  static/favicon.svg
Due: eslint, prettier

feat(frontend): settings page
  frontend/app.css
  frontend/components/back.svelte
  frontend/components/navbar.svelte
  frontend/lib/components/ui/card/card-action.svelte
  frontend/lib/components/ui/card/card-content.svelte
  frontend/lib/components/ui/card/card-description.svelte
  frontend/lib/components/ui/card/card-footer.svelte
  frontend/lib/components/ui/card/card-header.svelte
  frontend/lib/components/ui/card/card-title.svelte
  frontend/lib/components/ui/card/card.svelte
  frontend/lib/components/ui/card/index.js
  frontend/lib/components/ui/separator/index.js
  frontend/lib/components/ui/separator/separator.svelte
  frontend/routes/+layout.svelte
  frontend/routes/demo/+page.svelte
  frontend/routes/demo/paraglide/+page.svelte
  frontend/routes/settings/+page.svelte
Due: eslint, prettier

feat: update language in db
  feedback_bot/api/miniapp.py
  feedback_bot/telegram/builder/crud.py
  frontend/lib/api.js
  frontend/routes/settings/+page.svelte
  messages/ar.json
  messages/en.json
Due: lint, fmt, eslint, prettier

fix(telegram): correct user ID retrieval for language update
  feedback_bot/api/miniapp.py
Due: lint, fmt

feat(frontend): implement page transition
  frontend/lib/page_transition.js
  frontend/routes/+layout.svelte
Due: eslint, prettier

feat: add adding new bot
  config/settings.py
  feedback_bot/api/miniapp.py
  feedback_bot/migrations/0001_initial.py
  feedback_bot/models.py
  feedback_bot/telegram/builder/crud.py
  frontend/lib/api.js
  frontend/lib/components/ui/input/index.js
  frontend/lib/components/ui/input/input.svelte
  frontend/lib/components/ui/switch/index.js
  frontend/lib/components/ui/switch/switch.svelte
  frontend/lib/components/ui/textarea/index.js
  frontend/lib/components/ui/textarea/textarea.svelte
  frontend/lib/telegram.js
  frontend/routes/add_bot/+page.svelte
  frontend/routes/settings/+page.svelte
  messages/ar.json
  messages/ar/LC_MESSAGES/django.po
  messages/en.json
  messages/en/LC_MESSAGES/django.po
  mise.toml
Due: lint, fmt, eslint, prettier

chore: update ESLint configuration to integrate TypeScript support
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(telegram): implement bot webhook setup and removal on start and stop
  feedback_bot/telegram/bot.py
  feedback_bot/telegram/builder/crud.py
  feedback_bot/telegram/utils/cryptography.py
Due: lint, fmt

fix(telegram): correct webhook URL format in bot setup
  feedback_bot/api/miniapp.py
  feedback_bot/telegram/bot.py
Due: lint, fmt

refactor(telegram): improve module loading mechanism
  feedback_bot/telegram/bot.py
  feedback_bot/telegram/builder/modules/__init__.py
  feedback_bot/telegram/utils/modules_loader.py
Due: lint, fmt

feat(telegram): implement feedback bots updates processing
  feedback_bot/api/webhooks.py
  feedback_bot/telegram/feedback_bot/bot.py
  feedback_bot/telegram/feedback_bot/dispatcher.py
  feedback_bot/telegram/feedback_bot/modules/__init__.py
  feedback_bot/telegram/feedback_bot/modules/start.py
Due: lint, fmt

feat(telegram): use use a generated HMAC-SHA256 secret for each bot webhook
  config/settings.py
  feedback_bot/api/miniapp.py
  feedback_bot/api/webhooks.py
  feedback_bot/models.py
  feedback_bot/telegram/bot.py
  feedback_bot/telegram/utils/cryptography.py
Due: lint, fmt

refactor(telegram): replace CustomContext with CallbackContext in filters and start modules
  feedback_bot/telegram/builder/filters.py
  feedback_bot/telegram/builder/modules/start.py
Due: lint, fmt

refactor(telegram): streamline feedback bot webhook handling
  feedback_bot/api/webhooks.py
  feedback_bot/telegram/builder/crud.py
  feedback_bot/telegram/feedback_bot/bot.py
  feedback_bot/telegram/feedback_bot/dispatcher.py
  feedback_bot/telegram/feedback_bot/modules/start.py
Due: lint, fmt

refactor(telegram): remove WebhookUpdate class and related functionality
  feedback_bot/api/webhooks.py
  feedback_bot/telegram/bot.py
  feedback_bot/telegram/builder/modules/start.py
Due: lint, fmt

refactor(telegram): reorganize
  feedback_bot/api/miniapp.py
  feedback_bot/api/webhooks.py
  feedback_bot/apps.py
  feedback_bot/telegram/builder/bot.py
  feedback_bot/telegram/builder/filters.py
  feedback_bot/telegram/builder/modules/start.py
  feedback_bot/telegram/crud.py
Due: lint, fmt

refactor(telegram): reorganize lifespan management and webhook handling
  feedback_bot/apps.py
  feedback_bot/telegram/builder/bot.py
  feedback_bot/telegram/feedback_bot/bot.py
  feedback_bot/telegram/init.py
Due: lint, fmt

chore(dependencies): update package versions
  package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: none

chore(frontend): fix eslint warnings
  frontend/lib/telegram.js
  frontend/routes/add_bot/+page.svelte
Due: eslint, prettier

chore(eslint): update TypeScript ESLint integration and add new Svelte rule
  eslint.config.js
Due: eslint, prettier

feat(telegram/builder): add bot restart functionality and improve restart handling
  feedback_bot/telegram/builder/filters.py
  feedback_bot/telegram/builder/modules/restart.py
  feedback_bot/telegram/init.py
  feedback_bot/telegram/utils/restart.py
  messages/ar/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/django.po
Due: lint, fmt

feat(telegram/builder): implement user whitelisting from replies and by ID
  feedback_bot/telegram/builder/filters.py
  feedback_bot/telegram/builder/modules/whitelist.py
  feedback_bot/telegram/crud.py
  messages/ar/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/django.po
Due: lint, fmt

feat(telegram/builder): set bot commands on startup
  feedback_bot/telegram/builder/bot.py
  feedback_bot/telegram/builder/modules/restart.py
  feedback_bot/telegram/builder/modules/start.py
  feedback_bot/telegram/init.py
Due: lint, fmt

fix(frontend): remove browser dependency from backButton click handler
  frontend/lib/telegram.js
Due: eslint, prettier

refactor(api): split Telegram Mini App endpoints into modules
  feedback_bot/api/miniapp/__init__.py
  feedback_bot/api/miniapp/bots.py
  feedback_bot/api/miniapp/language.py
  feedback_bot/api/miniapp/users.py
Due: lint, fmt

refactor(core): centralize module loading functionality
  feedback_bot/api/miniapp/__init__.py
  feedback_bot/telegram/builder/bot.py
  feedback_bot/telegram/builder/modules/__init__.py
  feedback_bot/telegram/feedback_bot/bot.py
  feedback_bot/utils/modules_loader.py
Due: lint, fmt

feat(security): enhance security settings in Django configuration
  config/settings.py
Due: lint, fmt

refactor(api): improve error handling in feedback bot webhook
  feedback_bot/api/webhooks.py
Due: lint, fmt

refactor(api): update CSRF token retrieval method
  config/api.py
  frontend/lib/api.js
  frontend/routes/+layout.svelte
Due: lint, fmt, eslint, prettier

feat(api): Add list bots endpoint
  feedback_bot/api/miniapp/bots.py
  feedback_bot/telegram/crud.py
  frontend/lib/api.js
Due: lint, fmt, eslint, prettier

refactor(crud): move crud functions to centralized module
  feedback_bot/api/miniapp/__init__.py
  feedback_bot/api/miniapp/bots.py
  feedback_bot/api/miniapp/language.py
  feedback_bot/api/webhooks.py
  feedback_bot/crud.py
  feedback_bot/telegram/builder/filters.py
  feedback_bot/telegram/builder/modules/start.py
  feedback_bot/telegram/builder/modules/whitelist.py
  feedback_bot/telegram/feedback_bot/bot.py
Due: lint, fmt

fix(settings): convert admin ids mapping to list in settings
  config/settings.py
  feedback_bot/api/miniapp/__init__.py
Due: lint, fmt

feat(api): add user listing endpoint
  feedback_bot/api/miniapp/bots.py
  feedback_bot/api/miniapp/users.py
  feedback_bot/crud.py
  frontend/lib/api.js
Due: lint, fmt, eslint, prettier

refactor(i18n): replace Paraglide with Wuchale
  frontend/app.html
  frontend/hooks.js
  frontend/hooks.server.js
  frontend/lib/i18n.ts
  frontend/lib/types.ts
  frontend/lib/wuchale-loader.svelte.js
  frontend/routes/+layout.svelte
  frontend/routes/settings/+page.svelte
  messages/ar.json
  messages/ar/LC_MESSAGES/frontend.po
  messages/en.json
  messages/en/LC_MESSAGES/frontend.po
  package.json
  pnpm-lock.yaml
  vite.config.js
  wuchale.config.js
Due: eslint, prettier

chore(dependencies): replace granian extra rloop with uvloop
  pyproject.toml
  uv.lock
Due: none

chore(i18n): update makemessages command to include Wuchale task
  mise.toml
Due: none

feat(i18n): add JavaScript adapter and loader for Wuchale
  frontend/lib/wuchale-loader.js
  wuchale.config.js
Due: eslint, prettier
