Repository yshalsager/telegram-feedback-bot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, eslint, prettier

lint:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

fmt:
  run: uv run ruff format {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files} && git add {staged_files}

chore(eslint): update ESLint configuration and Prettier settings
  .eslintrc.cjs
  eslint.config.js
  frontend/.eslintrc.cjs
  jsconfig.json
  package.json
  pnpm-lock.yaml
  prettier.config.js
  tsconfig.eslint.json
Due: eslint, prettier

style: format
  frontend/demo.spec.js
  frontend/lib/components/ui/avatar/avatar-fallback.svelte
  frontend/lib/components/ui/avatar/avatar-image.svelte
  frontend/lib/components/ui/avatar/avatar.svelte
  frontend/lib/components/ui/avatar/index.js
  frontend/lib/components/ui/button/button.svelte
  frontend/lib/components/ui/card/card-action.svelte
  frontend/lib/components/ui/card/card-content.svelte
  frontend/lib/components/ui/card/card-description.svelte
  frontend/lib/components/ui/card/card-footer.svelte
  frontend/lib/components/ui/card/card-header.svelte
  frontend/lib/components/ui/card/card-title.svelte
  frontend/lib/components/ui/card/card.svelte
  frontend/lib/components/ui/card/index.js
  frontend/lib/components/ui/input/input.svelte
  frontend/lib/components/ui/popover/index.js
  frontend/lib/components/ui/popover/popover-content.svelte
  frontend/lib/components/ui/popover/popover-trigger.svelte
  frontend/lib/components/ui/separator/separator.svelte
  frontend/lib/components/ui/switch/switch.svelte
  frontend/lib/components/ui/textarea/textarea.svelte
  frontend/lib/telegram.js
  frontend/lib/telegram_debug.js
  frontend/lib/utils.ts
  frontend/lib/wuchale-loader.js
  frontend/lib/wuchale-loader.svelte.js
  frontend/routes/+layout.svelte
Due: eslint, prettier

feat(i18n): update character count formatting to include localized string
  frontend/lib/i18n.ts
Due: eslint, prettier

feat: user and bot management
  feedback_bot/api/miniapp/bots.py
  feedback_bot/api/miniapp/decorators.py
  feedback_bot/api/miniapp/users.py
  feedback_bot/crud.py
  frontend/components/management/AddButton.svelte
  frontend/components/management/ListItem.svelte
  frontend/components/management/ManagementCard.svelte
  frontend/components/management/SettingsPage.svelte
  frontend/components/management/SwitchRow.svelte
  frontend/components/management/UserAccessForm.svelte
  frontend/lib/api.js
  frontend/lib/mappers/bot.ts
  frontend/lib/mappers/user.ts
  frontend/routes/+page.svelte
  frontend/routes/add_bot/+page.svelte
  frontend/routes/add_user/+page.svelte
  frontend/routes/bot/[uuid]/+page.svelte
  frontend/routes/bot/[uuid]/+page.ts
  frontend/routes/settings/+page.svelte
  frontend/routes/user/[telegram_id]/+page.svelte
  frontend/routes/user/[telegram_id]/+page.ts
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
Due: lint, fmt, eslint, prettier

chore(mise): update i18n makemessages command to exclude obsolete messages
  mise.toml
Due: none

chore(dev): add 'vite-plugin-domain' and update configuration
  mise.development.toml
  mise.toml
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint, prettier

refactor: enhance bot and user management interfaces
  frontend/routes/add_bot/+page.svelte
  frontend/routes/bot/[uuid]/+page.svelte
Due: eslint, prettier

feat: enhance user management interface with improved header
  frontend/routes/user/[telegram_id]/+page.svelte
Due: eslint, prettier

chore(i18n): update Arabic and English translations for bot and user management
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/frontend.po
Due: none

feat(tests): add initial tests for Telegram bot builder and modules
  tests/feedback_bot/telegram/__init__.py
  tests/feedback_bot/telegram/builder/__init__.py
  tests/feedback_bot/telegram/builder/modules/__init__.py
  tests/feedback_bot/telegram/builder/modules/test_restart.py
  tests/feedback_bot/telegram/builder/modules/test_start.py
  tests/feedback_bot/telegram/builder/modules/test_whitelist.py
  tests/feedback_bot/telegram/builder/test_filters.py
  tests/feedback_bot/telegram/factories.py
Due: lint, fmt

chore(deps): add pytest and configuration for Django testing
  pyproject.toml
  uv.lock
Due: none

feat(tests): add unit tests for bot loader module
  tests/feedback_bot/telegram/builder/modules/test_bot_loader.py
Due: lint, fmt

chore(api): remove CSRF default true from NinjaAPI initialization
  config/urls.py
Due: lint, fmt

feat(tests): add tests for miniapp API endpoints and crud
  tests/feedback_bot/api/__init__.py
  tests/feedback_bot/api/miniapp/__init__.py
  tests/feedback_bot/api/miniapp/conftest.py
  tests/feedback_bot/api/miniapp/test_bots.py
  tests/feedback_bot/api/miniapp/test_users.py
  tests/feedback_bot/django/__init__.py
  tests/feedback_bot/django/test_crud.py
Due: lint, fmt

feat(tests): add comprehensive unit tests for user and bot management
  frontend/demo.spec.js
  frontend/routes/add_user/+page.svelte
  frontend/routes/page.svelte.spec.js
  frontend/tests/components/management/SwitchRow.svelte.test.ts
  frontend/tests/routes/+page.svelte.test.ts
  frontend/tests/routes/add_bot/page.svelte.test.ts
  frontend/tests/routes/add_user/page.svelte.test.ts
  frontend/tests/routes/bot/[uuid]/page.svelte.test.ts
  frontend/tests/routes/settings/page.svelte.test.ts
  frontend/tests/routes/user/[telegram_id]/page.svelte.test.ts
  package.json
  pnpm-lock.yaml
  vite.config.js
  vitest-setup-client.js
Due: eslint, prettier

chore: update dependencies
  mise.toml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: none

refactor(tests): enhance integration tests for Telegram bot builder modules
  tests/feedback_bot/telegram/builder/conftest.py
  tests/feedback_bot/telegram/builder/modules/test_restart.py
  tests/feedback_bot/telegram/builder/modules/test_start.py
  tests/feedback_bot/telegram/builder/modules/test_whitelist.py
  tests/feedback_bot/telegram/factories.py
Due: lint, fmt

chore: remove obsolete paraglide configuration files and settings
  project.inlang/.gitignore
  project.inlang/project_id
  project.inlang/settings.json
Due: none

chore(mise): unpin Node.js sub version
  mise.toml
Due: none

feat: Add group linking and events to feedback bots
  .gitignore
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/modules/groups.py
  frontend/lib/api.js
  frontend/routes/bot/[uuid]/+page.svelte
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  tests/feedback_bot/api/miniapp/test_bots.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/__init__.py
  tests/feedback_bot/telegram/feedback_bot/conftest.py
  tests/feedback_bot/telegram/feedback_bot/modules/__init__.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_groups.py
Due: lint, fmt, eslint, prettier

feat: Gate miniapp user list behind admin status and wire flag through frontend
  feedback_bot/api/miniapp/__init__.py
  feedback_bot/api/miniapp/bots.py
  feedback_bot/api/miniapp/users.py
  feedback_bot/crud.py
  frontend/lib/api.js
  frontend/lib/stores.svelte.js
  frontend/routes/+layout.svelte
  frontend/routes/+page.svelte
  tests/feedback_bot/api/miniapp/test_users.py
Due: lint, fmt, eslint, prettier

feat: Implement broadcast functionality for builder and feedback bots
  feedback_bot/crud.py
  feedback_bot/migrations/0002_broadcastmessage.py
  feedback_bot/models.py
  feedback_bot/telegram/builder/modules/broadcast.py
  feedback_bot/telegram/feedback_bot/modules/broadcast.py
  feedback_bot/telegram/utils/broadcast.py
  tests/feedback_bot/telegram/builder/modules/test_broadcast.py
  tests/feedback_bot/telegram/feedback_bot/conftest.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_broadcast.py
Due: lint, fmt

feat: Implement feedback messages handling, mapping and statistics
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  tests/feedback_bot/telegram/factories.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt

fix: simplify bot configuration access in broadcast and group modules
  feedback_bot/telegram/feedback_bot/modules/broadcast.py
  feedback_bot/telegram/feedback_bot/modules/groups.py
Due: lint, fmt

feat(tests): extend unit tests for user and bot CRUD operations
  tests/feedback_bot/django/test_crud.py
Due: lint, fmt

fix: correct feedback admin and user messages handling
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/bot.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt

chore(builder): update start command to use localized text for mini app button and remove unused
  feedback_bot/telegram/builder/modules/start.py
Due: lint, fmt

feat(builder): add bot update command
  feedback_bot/telegram/builder/modules/update.py
  tests/feedback_bot/telegram/builder/modules/test_update.py
Due: lint, fmt

feat(bot): implement user ban management commands and integrate with feedback handling
  feedback_bot/crud.py
  feedback_bot/telegram/feedback_bot/modules/ban.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/feedback_bot/conftest.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_ban.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt

fix(tests): update start command test to reflect changes in inline keyboard structure
  tests/feedback_bot/telegram/builder/modules/test_start.py
Due: lint, fmt

chore(dependencies): update cryptography, django-ninja, and ruff versions; format ruff configuration for readability
  pyproject.toml
  uv.lock
Due: none

chore(dependencies): update js packages
  package.json
  pnpm-lock.yaml
Due: none

chore: update to python 3.14
  mise.development.toml
  mise.toml
  pyproject.toml
  uv.lock
Due: none

refactor(start): simplify inline keyboard creation for mini app button
  feedback_bot/telegram/builder/modules/start.py
Due: lint, fmt

feat(errors): implement error reporting to Telegram
  feedback_bot/telegram/builder/bot.py
  feedback_bot/telegram/feedback_bot/bot.py
  feedback_bot/telegram/utils/errors.py
Due: lint, fmt

feat(bot): add bot stats retrieval and user deletion functionality
  feedback_bot/api/miniapp/bots.py
  feedback_bot/api/miniapp/users.py
  feedback_bot/crud.py
  frontend/components/management/UserAccessForm.svelte
  frontend/lib/api.js
  frontend/lib/types.ts
  frontend/routes/bot/[uuid]/+page.svelte
  frontend/routes/bot/[uuid]/+page.ts
  frontend/routes/user/[telegram_id]/+page.svelte
  messages/ar/LC_MESSAGES/django.po
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/frontend.po
  tests/feedback_bot/api/miniapp/test_bots.py
  tests/feedback_bot/api/miniapp/test_users.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/builder/test_bot.py
Due: lint, fmt, eslint, prettier

chore(dependencies): update package versions, switch to vite rolldown
  package.json
  pnpm-lock.yaml
  uv.lock
Due: none

fix(search): correct search functionality for bots and users
  frontend/routes/+page.svelte
Due: eslint, prettier

feat(config): update static path configuration and enhance settings for frontend integration in prod
  config/settings.py
  feedback_bot/telegram/builder/modules/start.py
  feedback_bot/views.py
  frontend/app.html
  mise.toml
  svelte.config.js
Due: lint, fmt, eslint, prettier

fix(auth): improve error messages in TelegramMiniAppAuth for better clarity
  feedback_bot/api/miniapp/__init__.py
Due: lint, fmt

Path conditions:
  lint: any of: *.py
  fmt: any of: *.py
  eslint: any of: *.{js,ts,svelte}
  prettier: any of: *.{js,ts,svelte,html,css}
