Repository yshalsager/telegram-feedback-bot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, eslint, prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    check-large-files:
      run: echo {staged_files} | xargs -r ls -l | awk '{if ($5 > 500000) print $9}'
    check-symlinks:
      run: echo {staged_files} | xargs -r ls -l | awk '{if ($11 == "->") print $9}'
    
    lint:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true

    fmt:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true

    eslint:
      glob: "*.{js,ts,svelte}"
      run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

    prettier:
      glob: '*.{js,ts,svelte,html,css}'
      run: 'pnpm exec prettier --write {staged_files} && git add {staged_files}'

post-merge:
  parallel: true
  commands:
    install-client-deps:
      files: git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD
      glob: pnpm-lock.yaml
      run: pnpm install
    install-server-deps:
      files: git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD
      glob: uv.lock
      run: uv sync --inexact

feat(scripts): capturing app screenshots with redaction of sensitive content
  .gitignore
  scripts/capture-app-screenshots.mjs
Due: none

feat(i18n): update Arabic and English translations, add new communication modes
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/frontend.po
  src/lib/constants/communication_mode.ts
  wuchale.config.js
Due: eslint, prettier

feat: implement landing page
  src/routes/+page.svelte
  static/screenshots/app-add-bot-mobile.png
  static/screenshots/app-add-user-mobile.png
  static/screenshots/app-bot-detail-mobile.png
  static/screenshots/app-dashboard-mobile.png
Due: eslint, prettier

feat(urls): add screenshot asset handling and improve file retrieval logic
  feedback_bot/urls.py
  feedback_bot/views.py
Due: lint, fmt

chore(vite.config): allow access to the './static' directory in the file system configuration
  vite.config.js
Due: eslint, prettier

fix(i18n): update communication_mode_options to be a function
  src/components/management/CommunicationModeSection.svelte
  src/lib/constants/communication_mode.ts
Due: eslint, prettier

refactor(deps): replace deprecated @telegram-apps/sdk-svelte with @tma.js/sdk-svelte
  package.json
  pnpm-lock.yaml
  src/lib/telegram.js
  src/lib/telegram_debug.js
  src/routes/app/add_bot/+page.svelte
  src/routes/app/add_user/+page.svelte
  src/routes/app/bot/[uuid]/+page.svelte
  src/tests/routes/add_bot/page.svelte.test.ts
  src/tests/routes/add_user/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
Due: eslint, prettier

fix(docker): remove alembic.ini from Dockerfile COPY command
  Dockerfile
Due: none

feat(docker): add TELEGRAM_ENCRYPTION_KEY argument to Dockerfile and docker-compose.yml
  Dockerfile
  docker-compose.yml
Due: none

fix(docker): remove data volume mapping from docker-compose.yml
  docker-compose.yml
Due: none

fix(docker): set ownership of /code directory to appuser in Dockerfile
  Dockerfile
Due: none

feat(docker): separate PostgreSQL service into docker-compose.postgres.yml and update dependencies in docker-compose.yml
  docker-compose.postgres.yml
  docker-compose.yml
Due: none

refactor(docker): simplify COPY commands in Dockerfile by removing ownership flags
  Dockerfile
Due: none

refactor(docker): update environment variables in docker-compose.yml and remove TELEGRAM_ENCRYPTION_KEY ARG from Dockerfile
  Dockerfile
  docker-compose.yml
Due: none

fix(telegram): implement webhook locking mechanism in ptb_lifespan_manager to prevent multiple instances from starting simultaneously
  feedback_bot/telegram/init.py
Due: lint, fmt

chore(gitignore): add docker-compose.override.yml and ptb-webhook.lock to .gitignore
  .gitignore
Due: none

chore(docker): add UV_NO_DEV environment variable to Dockerfile for production configuration
  Dockerfile
Due: none

fix(docker): correct ownership command for /code directory in Dockerfile
  Dockerfile
Due: none

feat(settings): add SECURE_PROXY_SSL_HEADER for production environment when DEBUG is disabled
  config/settings.py
Due: lint, fmt

feat(docker): add GRANIAN_STATIC_PATH_MOUNT and GRANIAN_STATIC_PATH_ROUTE environment variables to docker-compose.yml
  docker-compose.yml
Due: none

fix(docker): add TELEGRAM_LANGUAGES environment variable to docker-compose.yml
  docker-compose.yml
Due: none

feat(feedback_bot): add management command to remove webhooks for all feedback bots
  feedback_bot/management/commands/remove_feedback_webhooks.py
Due: lint, fmt

fix(translations): correct communication mode entries
  messages/ar/LC_MESSAGES/frontend.po
  messages/en/LC_MESSAGES/frontend.po
  src/lib/constants/communication_mode.ts
Due: eslint, prettier

chore(deps): update dependencies in package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update wuchale to 0.18
  .gitignore
  src/lib/i18n.ts
  src/lib/wuchale-loader.js
  src/lib/wuchale-loader.svelte.js
  src/locales/ar.po
  src/locales/en.po
  src/locales/js.loader.js
  src/locales/js.loader.server.js
  src/locales/main.loader.svelte.js
  vitest-setup-client.js
  wuchale.config.js
Due: eslint, prettier

chore(deps): update various dependencies in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  uv.lock
Due: none

style(ui): fix indentation in derived booleans
  src/routes/app/+layout.svelte
  src/routes/app/bot/[uuid]/+page.svelte
  src/routes/app/user/[telegram_id]/+page.svelte
Due: eslint, prettier

chore: update dependencies
  package.json
  pnpm-lock.yaml
  uv.lock
Due: none

fix(telegram): ignore delete forbidden errors
  feedback_bot/telegram/feedback_bot/modules/delete.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_delete.py
Due: lint, fmt

Add funding information to FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: add loader files to .gitignore
  .gitignore
  src/locales/js.loader.js
  src/locales/js.loader.server.js
  src/locales/main.loader.svelte.js
Due: eslint, prettier

chore(deps): update various dependencies in package.json, pnpm-lock.yaml, and uv.lock
  package.json
  pnpm-lock.yaml
  uv.lock
Due: none

chore(renovate): group non-major updates
  renovate.json5
Due: none

fix(deps): resolve dependabot alerts for cookie and minimatch
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): bump rollup lock to patched 4.59.0
  pnpm-lock.yaml
Due: none

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: none

chore(i18n): update wuchale config
  wuchale.config.js
Due: eslint, prettier

feat(topics): add optional owner-thread topics with fallback
  feedback_bot/api/miniapp/bots.py
  feedback_bot/crud.py
  feedback_bot/migrations/0009_bot_use_topics.py
  feedback_bot/models.py
  feedback_bot/telegram/feedback_bot/modules/messages.py
  src/lib/api.js
  src/lib/mappers/bot.ts
  src/lib/types.ts
  src/locales/ar.po
  src/locales/en.po
  src/routes/app/add_bot/+page.svelte
  src/routes/app/bot/[uuid]/+page.svelte
  src/tests/routes/add_bot/page.svelte.test.ts
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  tests/feedback_bot/api/miniapp/test_bots.py
  tests/feedback_bot/django/test_crud.py
  tests/feedback_bot/telegram/builder/conftest.py
  tests/feedback_bot/telegram/feedback_bot/conftest.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
  uv.lock
Due: lint, fmt, eslint, prettier
