Repository yshalsager/telegram-feedback-bot: changes, and which lefthook commands are due for each by the changed paths.
All: lint, fmt, eslint, prettier

lint:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

fmt:
  run: uv run ruff format {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files} && git add {staged_files}

feat(feedback-bot): add bidirectional reaction mirroring
  feedback_bot/telegram/feedback_bot/modules/messages.py
  tests/feedback_bot/telegram/feedback_bot/modules/test_messages.py
Due: lint, fmt

docs: mention bidirectional reaction mirroring and user topics
  README.md
  src/routes/+page.svelte
Due: eslint, prettier

fix(deps): bump flatted to 3.4.2 in pnpm lockfile
  pnpm-lock.yaml
Due: none

build(frontend): migrate to vite 8 and wuchale core plugin
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint, prettier

build(deps): override vulnerable transitive pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

feat(bot): add admin-only ownership transfer flow
  feedback_bot/api/miniapp/bots.py
  messages/ar/LC_MESSAGES/django.po
  messages/en/LC_MESSAGES/django.po
  src/lib/api.js
  src/locales/ar.po
  src/locales/en.po
  src/routes/app/bot/[uuid]/+page.svelte
  src/tests/routes/bot/[uuid]/page.svelte.test.ts
  tests/feedback_bot/api/miniapp/test_bots.py
Due: lint, fmt, eslint, prettier

chore(mise): env.mise -> env._
  mise.toml
Due: none

pnpm: move settings to workspace config
  package.json
  pnpm-workspace.yaml
Due: none

Path conditions:
  lint: any of: *.py
  fmt: any of: *.py
  eslint: any of: *.{js,ts,svelte}
  prettier: any of: *.{js,ts,svelte,html,css}
